[alias]
	st = status -sb
	lg = log --pretty=format:'%Cred%h%Creset %C(bold)%cr%Creset %Cgreen<%an>%Creset %s' --max-count=30

[user]
	name = Iago Bruno
	email = iagobruno.dev@gmail.com

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[init]
	defaultBranch = main
