/* Project title's style at the top. */

/* Command Palette */
.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, .35) !important;
    /* border: 4px solid rgba(24, 135, 129, .35) !important; */
/*     padding: 10px 10px 18px 10px !important; */
    /* background: #3c3c50 !important; */
    
/*     border-radius: 20px !important; */
    /* width: 50% !important; */
}

.quick-input-list, .quick-input-list .list_id_6 {
    min-height: 400px !important;
}
